header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: relative;
    z-index: 1;
    margin-top: -8px;
    margin-bottom: 8px;
    z-index: 9;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    padding: 13px 15px 0 15px;
    background: #ffffff;
}

.logo__p{
    font-size: 26px;
    font-weight: 900;
    color: #659BFF;
    font-family: 'GmarketSansBold';
}

.right_box{
    display: flex;
    align-items: flex-end;
}

.search_box_menu_right {
    display: flex;
    justify-content: space-between;
}

.menu_tap_box {
    width: 26px;
    height: 26px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.menu_tap_box_1 {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    font-size: 24px;
    color: #183153;
}

.menu_tap_box_3 {
    width: 26px;
    height: 26px;
    cursor: pointer;
    font-size: 24px;
    color: #183153;
}

/*메뉴바*/
.menubar {
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99999;
    background-color: white;
}

.menubar_header {
    width: 100%;
    height: 63px;
    background-color: #659BFF;
    margin: 0 auto;
    box-shadow: inset 0 -5px 5px #2254b9, 0 1px 3px grey;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

.menubar_header_in {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menubar_header_in_1 {
    font-size: 28px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.menubar_header_in_3 {
    width: 26px;
    height: 26px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
